<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title></title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet">

    <script src="assets/js/vue.js"></script>
    <script src="assets/js/axios.min.js"></script>

    <!-- =======================================================
  * Template Name: Logis
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="index.html" class="logo d-flex align-items-center">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <h1>HalobiosImage</h1>
            </a>

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="index.html" class="active">首页</a></li>
                    <li><a href="upload.html">上传</a></li>
                    <li><a href="download.html">下载</a></li>
                    <li><a href="distinguish.html">识别</a></li>
                    <li class="dropdown"><a href="#"><span>小功能</span> <i
                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a href="#">开发日志</a></li>
                            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i
                                        class="bi bi-chevron-down dropdown-indicator"></i></a>
                                <ul>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">目标标记</a></li>
                            <li><a href="#">分割标记</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">关于</a></li>
                    <div id="top">
                        <li v-show="userShow == false"><a class="get-a-quote" href="login.html">登录</a></li>
                        <li v-show="userShow == true"><a><button type="button" class="btn btn-success">{{ userName }}</button></a></li>
                    </div>
                </ul>
            </nav><!-- .navbar -->

        </div>
    </header>
    <!-- End Header -->

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
            <div class="page-header d-flex align-items-center"
                style="background-image: url('assets/img/header.jpg');">
                <div class="container position-relative">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-6 text-center">
                            <h2>下载</h2>
                            <p>巴拉巴拉</p>
                        </div>
                    </div>
                </div>
            </div>
            <nav>
                <div class="container">
                    <ol>
                        <li><a href="index.html">首页</a></li>
                        <li>下载</li>
                    </ol>
                </div>
            </nav>
        </div><!-- End Breadcrumbs -->

        <div id="main">

            <div class="container" v-show="classShow == true">
                <p class="h3">请选择纲</p>
                <table class="table table-hover" text-align:center>
                    <thead>
                        <tr class="text-center">
                            <td scope="col">中文名</td>
                            <td scope="col">拉丁名</td>
                            <td scope="col">创建时间</td>
                            <td scope="col">操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        <template>
                            <tr class="text-center" v-for="item in class_list">
                                <td>{{ item.nameCn }}</td>
                                <td><i>{{ item.nameLatin }}</i></td>
                                <td>{{ item.createTime | formatTimer }}</td>
                                <td><a class="btn btn-primary btn-sm" @click.prevent="GetOrder(val=1, item=item)">访问</a>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>


                <nav aria-label="Page navigation example">

                    <ul class="pagination justify-content-end pagination-sm">
                        <li class="page-item" :class="class_current_page_num == 1 ? 'page-item disabled' :'page-item'">
                            <a class="page-link" @click.prevent="ClassFirstPage()">首页</a>
                        </li>
                        <li class="page-item" :class="class_current_page_num == 1 ? 'page-item disabled' :'page-item'">
                            <a class="page-link" @click.prevent="ClassPrePageination()">&laquo;</a>
                        </li>
                        <li v-for="item in class_limiteArray"
                            :class="item == class_current_page_num ? 'page-item active' :'page-item'"
                            :model="class_current_page_num">
                            <a class="page-link" @click.prevent="ClassChangePageination(item)">{{ item }}</a>
                        </li>
                        <li class="page-item"
                            :class="class_current_page_num == class_total_page ? 'page-item disabled' :'page-item'">
                            <a class="page-link" @click.prevent="ClassNextPageination()">&raquo;</a>
                        </li>
                        <li class="page-item"
                            :class="class_current_page_num == class_total_page ? 'page-item disabled' :'page-item'">
                            <a class="page-link" @click.prevent="ClassLastPage()">尾页</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- 显示目 -->
            <div class="container" v-show="orderShow == true">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page"><a
                                @click.prevent="GetClass(class_current_page_num)"><i>{{
                                    selectNow.class.nameLatin }}</i></a></li>
                    </ol>
                </nav>
                <div>
                    <p>
                        拉丁名：<strong><i>{{selectNow.class.nameLatin }}</i></strong>
                    </p>
                    <p>中文名：<strong>{{selectNow.class.nameCn }}</strong></p>
                    <p>描述：<strong>{{selectNow.class.introduce }}</strong></p>
                </div>
                <div>
                    <h3>请选择目</h3>
                </div>
                <table class="table table-hover" text-align:center>
                    <thead>
                        <tr class="text-center">
                            <td scope="col">中文名</td>
                            <td scope="col">拉丁名</td>
                            <td scope="col">创建时间</td>
                            <td scope="col">操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        <template>
                            <tr class="text-center" v-for="item in order_list">
                                <td>{{ item.nameCn }}</td>
                                <td><i>{{ item.nameLatin }}</i></td>
                                <td>{{ item.createTime | formatTimer }}</td>
                                <td><a class="btn btn-primary btn-sm"
                                        @click.prevent="GetFamily(val=1, item=item)">访问</a>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end pagination-sm">
                        <li class="page-item" :class="order_current_page_num == 1 ? 'page-item disabled' :'page-item'">
                            <a class="page-link" @click.prevent="OrderFirstPage()">首页</a>
                        </li>
                        <li class="page-item" :class="order_current_page_num == 1 ? 'page-item disabled' :'page-item'">
                            <a class="page-link" @click.prevent="OrderPrePageination()">&laquo;</a>
                        </li>
                        <li v-for="item in order_limiteArray"
                            :class="item == order_current_page_num ? 'page-item active' :'page-item'"
                            :model="order_current_page_num">
                            <a class="page-link" @click.prevent="OrderChangePageination(item)">{{ item }}</a>
                        </li>
                        <li class="page-item"
                            :class="order_current_page_num == order_total_page ? 'page-item disabled' :'page-item'">
                            <a class="page-link" @click.prevent="OrderNextPageination()">&raquo;</a>
                        </li>
                        <li class="page-item"
                            :class="order_current_page_num == order_total_page ? 'page-item disabled' :'page-item'">
                            <a class="page-link" @click.prevent="OrderLastPage()">尾页</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- 显示科 -->
            <div class="container" v-show="familyShow == true">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" aria-current="page"><a
                                @click.prevent="GetClass(class_current_page_num)"><i>{{
                                    selectNow.class.nameLatin }}</i></a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a
                                @click.prevent="GetOrder(order_current_page_num, selectNow.class)"><i>{{
                                    selectNow.order.nameLatin }}</i></a>
                        </li>
                    </ol>
                </nav>
                <div>
                    <p>
                        拉丁名：<strong><i>{{selectNow.order.nameLatin }}</i></strong>
                    </p>
                    <p>中文名：<strong>{{selectNow.order.nameCn }}</strong></p>
                    <p>描述：<strong>{{selectNow.order.introduce }}</strong></p>
                </div>
                <div>
                    <h3>请选择科</h3>
                </div>
                <table class="table table-hover" text-align:center>
                    <thead>
                        <tr class="text-center">
                            <td scope="col">中文名</td>
                            <td scope="col">拉丁名</td>
                            <td scope="col">创建时间</td>
                            <td scope="col">操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        <template>
                            <tr class="text-center" v-for="item in family_list">
                                <td>{{ item.nameCn }}</td>
                                <td><i>{{ item.nameLatin }}</i></td>
                                <td>{{ item.createTime | formatTimer }}</td>
                                <td><a class="btn btn-primary btn-sm"
                                        @click.prevent="GetSpecies(val=1, item=item)">访问</a>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end pagination-sm">
                        <li class="page-item" :class="family_current_page_num == 1 ? 'page-item disabled' :'page-item'">
                            <a class="page-link" @click.prevent="FamilyFirstPage()">首页</a>
                        </li>
                        <li class="page-item" :class="family_current_page_num == 1 ? 'page-item disabled' :'page-item'">
                            <a class="page-link" @click.prevent="FamilyPrePageination()">&laquo;</a>
                        </li>
                        <li v-for="item in family_limiteArray"
                            :class="item == family_current_page_num ? 'page-item active' :'page-item'"
                            :model="family_current_page_num">
                            <a class="page-link" @click.prevent="FamilyChangePageination(item)">{{ item }}</a>
                        </li>
                        <li class="page-item"
                            :class="family_current_page_num == family_total_page ? 'page-item disabled' :'page-item'">
                            <a class="page-link" @click.prevent="FamilyNextPageination()">&raquo;</a>
                        </li>
                        <li class="page-item"
                            :class="family_current_page_num == family_total_page ? 'page-item disabled' :'page-item'">
                            <a class="page-link" @click.prevent="FamilyLastPage()">尾页</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- 显示种 -->
            <div class="container" v-show="speciesShow == true">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" aria-current="page"><a
                                @click.prevent="GetClass(class_current_page_num)"><i>{{
                                    selectNow.class.nameLatin }}</i></a></li>
                        <li class="breadcrumb-item" aria-current="page"><a
                                @click.prevent="GetOrder(order_current_page_num, selectNow.class)"><i>{{
                                    selectNow.order.nameLatin }}</i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page"><a
                                @click.prevent="GetFamily(family_current_page_num, selectNow.order)"><i>{{
                                    selectNow.family.nameLatin }}</i></a>
                        </li>
                    </ol>
                </nav>
                <div>
                    <p>
                        拉丁名：<strong><i>{{selectNow.family.nameLatin }}</i></strong>
                    </p>
                    <p>中文名：<strong>{{selectNow.family.nameCn }}</strong></p>
                    <p>描述：<strong>{{selectNow.family.introduce }}</strong></p>
                </div>
                <div>
                    <h3>请选择种</h3>
                </div>
                <table class="table table-hover" text-align:center>
                    <thead>
                        <tr class="text-center">
                            <td scope="col">中文名</td>
                            <td scope="col">拉丁名</td>
                            <td scope="col">创建时间</td>
                            <td scope="col">操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        <template>
                            <tr class="text-center" v-for="item in species_list">
                                <td>{{ item.nameCn }}</td>
                                <td><i>{{ item.nameLatin }}</i></td>
                                <td>{{ item.createTime | formatTimer }}</td>
                                <td><a class="btn btn-primary btn-sm"
                                        @click.prevent="getObject(val=1, item=item)">访问</a>
                                    <button type="button" class="btn btn-secondary btn-sm" disabled>下载</button>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end pagination-sm">
                        <li class="page-item"
                            :class="species_current_page_num == 1 ? 'page-item disabled' :'page-item'">
                            <a class="page-link" @click.prevent="SpeciesFirstPage()">首页</a>
                        </li>
                        <li class="page-item"
                            :class="species_current_page_num == 1 ? 'page-item disabled' :'page-item'">
                            <a class="page-link" @click.prevent="SpeciesPrePageination()">&laquo;</a>
                        </li>
                        <li v-for="item in species_limiteArray"
                            :class="item == species_current_page_num ? 'page-item active' :'page-item'"
                            :model="species_current_page_num">
                            <a class="page-link" @click.prevent="SpeciesChangePageination(item)">{{ item }}</a>
                        </li>
                        <li class="page-item"
                            :class="species_current_page_num == species_total_page ? 'page-item disabled' :'page-item'">
                            <a class="page-link" @click.prevent="SpeciesNextPageination()">&raquo;</a>
                        </li>
                        <li class="page-item"
                            :class="species_current_page_num == species_total_page ? 'page-item disabled' :'page-item'">
                            <a class="page-link" @click.prevent="SpeciesLastPage()">尾页</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- 显示图片 -->
            <div class="container" v-show="objectShow == true">
                <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item" aria-current="page"><a
                                        @click.prevent="GetClass(class_current_page_num)"><i>{{
                                            selectNow.class.nameLatin }}</i></a></li>
                                <li class="breadcrumb-item" aria-current="page"><a
                                        @click.prevent="GetOrder(order_current_page_num, selectNow.class)"><i>{{
                                            selectNow.order.nameLatin }}</i></a>
                                </li>
                                <li class="breadcrumb-item" aria-current="page"><a
                                        @click.prevent="GetFamily(family_current_page_num, selectNow.order)"><i>{{
                                            selectNow.family.nameLatin }}</i></a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page"><a
                                        @click.prevent="GetSpecies(species_current_page_num, selectNow.family)"><i>{{
                                            selectNow.species.nameLatin }}</i></a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <p>
                            拉丁名：<strong><i>{{selectNow.species.nameLatin }}</i></strong>
                        </p>
                    </div>
                    <div class="col-12">
                        <p>中文名：<strong><i>{{selectNow.species.nameCn }}</i></strong></p>
                    </div>
                    <div class="col-12">
                        <p>DNA序列号: <strong>{{selectNow.species.point7 }}</strong></p>
                    </div>
                    <div class="col-12">
                        <p>形态特征: <strong>{{selectNow.species.point1 }}</strong></p>
                    </div>
                    <div class="col-12">
                        <p>分布: <strong>{{selectNow.species.point2 }}</strong></p>
                    </div>
                    <div class="col-12">
                        <p>生态习性: <strong>{{selectNow.species.point3 }}</strong></p>
                    </div>
                    <div class="col-12">
                        <p>功能类群: <strong>{{selectNow.species.point4 }}</strong></p>
                    </div>
                    <div class="col-12">
                        <p>濒危等级: <strong>{{selectNow.species.point5 }}</strong></p>
                    </div>
                    <div class="col-12">
                        <p>潜在危害: <strong>{{selectNow.species.point6 }}</strong></p>
                    </div>
                    <div class="col-12">
                        <h3>图片展示</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="col-sm-3" v-for="item in object_list">
                            <div class="card" card-img-top>
                                <img :src="item.url" class="card-img-top" :alt="item.objectName">
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end pagination-sm">
                                <li class="page-item"
                                    :class="object_current_page_num == 1 ? 'page-item disabled' :'page-item'">
                                    <a class="page-link" @click.prevent="ObjectFirstPage()">首页</a>
                                </li>
                                <li class="page-item"
                                    :class="object_current_page_num == 1 ? 'page-item disabled' :'page-item'">
                                    <a class="page-link" @click.prevent="ObjectPrePageination()">&laquo;</a>
                                </li>
                                <li v-for="item in object_limiteArray"
                                    :class="item == object_current_page_num ? 'page-item active' :'page-item'"
                                    :model="object_current_page_num">
                                    <a class="page-link" @click.prevent="ObjectChangePageination(item)">{{ item }}</a>
                                </li>
                                <li class="page-item"
                                    :class="object_current_page_num == object_total_page ? 'page-item disabled' :'page-item'">
                                    <a class="page-link" @click.prevent="ObjectNextPageination()">&raquo;</a>
                                </li>
                                <li class="page-item"
                                    :class="object_current_page_num == object_total_page ? 'page-item disabled' :'page-item'">
                                    <a class="page-link" @click.prevent="ObjectLastPage()">尾页</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-info">
                    <a href="index.html" class="logo d-flex align-items-center">
                        <span>HalobiosImage</span>
                    </a>
                    <p>HalobiosImage致力于收集海洋生物的图像信息，推进计算机视觉和深度学习以及生物学研究，数据可免费提供给研究者进行学术研究使用，用于非商业用途。</p>
                    <div class="social-links d-flex mt-4">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>链接</h4>
                    <ul>
                        <li><a href="#">上传</a></li>
                        <li><a href="#">下载</a></li>
                        <li><a href="#">识别</a></li>
                        <li><a href="#">关于</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>特点</h4>
                    <ul>
                        <li><a href="#">特点1</a></li>
                        <li><a href="#">特点2</a></li>
                        <li><a href="#">特点3</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                    <h4>联系我们</h4>
                    <p>
                        海南省<br>
                        海口市<br>
                        美兰区海南大学信息与通信工程学院<br><br>
                        <strong>电话:</strong> 15178259144<br>
                        <strong>邮箱:</strong> xdt0916@qq.com<br>
                    </p>

                </div>

            </div>
        </div>

        <div class="container mt-4">
            <div class="copyright">
                &copy; 2022 <strong><span>海南省嵌入式智能系统工程研究中心 海南大学</span></strong> 版权所有
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

<script>
    var top = new Vue({
        el: '#top',
        data: {
            userName: '',
            userShow: false,
        },
        methods: {
            getUserInfo: function () {
                axios({
                    method: 'get',
                    url: "http://192.168.3.211:8080/check/getUserInfo",
                    headers: { "authorization": localStorage.getItem("token") },
                }).then(resp => {
                    console.log(resp)
                    if (resp.data.msg == "tokenOverdue") {
                        console.log("登录过期");
                        localStorage.clear("token");
                        alert("登录已经过期，不能查看图片")
                    } else if (resp.data.msg == "notFindToken") {
                        console.log("未登录");
                        alert("未登录，不能查看图片")
                    }
                    if (resp.data.code == 200) {
                        this.userName = resp.data.data;
                        this.userShow = true;
                    }
                }).catch(function (error) {
                    if (error.response) {
                        // 请求成功发出且服务器也响应了状态码，但状态代码超出了 2xx 的范围
                        console.log(error.response.data);
                        console.log(error.response.status);
                        console.log(error.response.headers);
                        alert("服务器错误！");
                        localStorage.clear("accessToken");
                        location.reload();
                    } else if (error.request) {
                        // 请求已经成功发起，但没有收到响应
                        // `error.request` 在浏览器中是 XMLHttpRequest 的实例，
                        // 而在node.js中是 http.ClientRequest 的实例
                        console.log(error.request);
                    } else {
                        // 发送请求时出了点问题
                        console.log('Error', error.message);
                    }
                    console.log(error.config);
                })
            }
        },
        created() {
            this.getUserInfo();
            // this.countAllBiologySpecies();
        }
    })
</script>

<script>
    var vm = new Vue({
        el: "#main",
        data: {
            class_list: "",
            // 当前页面
            class_current_page_num: 1,
            // 页面大小
            class_page_size: "10",
            // 总个数
            class_total_count: "",
            // 总页数
            class_total_page: "",
            // 限制的数组
            class_limiteArray: "",
            classShow: true,

            order_list: "",
            order_current_page_num: 1,
            order_page_size: "10",
            order_total_count: "",
            order_total_page: "",
            order_limiteArray: "",
            orderShow: false,

            family_list: "",
            family_current_page_num: 1,
            family_page_size: "10",
            family_total_count: "",
            family_total_page: "",
            family_limiteArray: "",
            familyShow: false,

            species_list: "",
            species_current_page_num: 1,
            species_page_size: "10",
            species_total_count: "",
            species_total_page: "",
            species_limiteArray: "",
            speciesShow: false,

            object_list: "",
            object_current_page_num: 1,
            object_page_size: "20",
            object_total_count: "",
            object_total_page: "",
            object_limiteArray: "",
            objectShow: false,

            selectNow: { class: "", order: "", family: "", species: "" },
        },
        watch: {
            class_current_page_num(val) {
                this.GetClass(val);
            },
            order_current_page_num(val) {
                this.GetOrder(val, this.selectNow.class);
            },
            family_current_page_num(val) {
                this.GetFamily(val, this.selectNow.order);
            },
            species_current_page_num(val) {
                this.GetSpecies(val, this.selectNow.family);
            },
            object_current_page_num(val) {
                this.getObject(val, this.selectNow.species);
            }
        },
        methods: {
            ClassNextPageination() {
                this.class_current_page_num++;
            },
            ClassPrePageination() {
                this.class_current_page_num--;
            },
            ClassChangePageination(item) {
                this.class_current_page_num = item;
            },
            ClassFirstPage() {
                this.class_current_page_num = 1;
            },
            ClassLastPage() {
                this.class_current_page_num = this.class_total_page;
            },
            GetClass(val) {
                axios({
                    method: 'get',
                    url: "http://192.168.3.211:8080/public/selectAllBioloyClassPagination?currentPage=" + val + "&pageSize=" + this.class_page_size,
                }).then(resp => {
                    var result = resp.data.data;
                    let res_data_json = JSON.parse(result);
                    console.log(res_data_json)
                    if (result.code == 404) {
                        alert(result.msg);
                    } else {
                        this.class_list = res_data_json.biologyClassList;

                        this.class_current_page_num = res_data_json.currentPageNum;
                        this.class_page_size = res_data_json.pageSize;
                        this.class_total_count = res_data_json.totalCount;
                        this.class_total_page = res_data_json.totalPage;

                        this.class_limiteArray = this.limitItem1(this.class_total_page, this.class_current_page_num, 5);
                        this.selectView("class");
                    }
                })
            },
            OrderNextPageination() {
                this.order_current_page_num++;
            },
            OrderPrePageination() {
                this.order_current_page_num--;
            },
            OrderChangePageination(item) {
                this.order_current_page_num = item;
            },
            OrderFirstPage() {
                this.order_current_page_num = 1;
            },
            OrderLastPage() {
                this.order_current_page_num = this.order_total_page;
            },
            GetOrder(val, item) {
                console.log("GetOrder")
                console.log(item)
                this.selectNow.class = item;
                axios({
                    method: 'get',
                    url: "http://192.168.3.211:8080/public/selectBiologyOrderByClassUuidPagination?currentPage=" + val
                        + "&pageSize=" + this.class_page_size + "&classUuid=" + item.uuid,
                }).then(resp => {
                    var result = resp.data.data;
                    let res_data_json = JSON.parse(result);
                    if (res_data_json == null) {
                        alert("无数据")
                    }
                    if (resp.data.code == "400") {
                        alert(result.msg);
                    } else {
                        this.order_list = res_data_json.biologyOrderList;

                        this.order_current_page_num = res_data_json.currentPageNum;
                        this.order_page_size = res_data_json.pageSize;
                        this.order_total_count = res_data_json.totalCount;
                        this.order_total_page = res_data_json.totalPage;

                        this.order_limiteArray = this.limitItem1(this.order_total_page, this.order_current_page_num, 5);
                        this.selectView("order");
                    }
                })
            },

            FamilyNextPageination() {
                this.family_current_page_num++;
            },
            FamilyPrePageination() {
                this.family_current_page_num--;
            },
            FamilyChangePageination(item) {
                this.family_current_page_num = item;
            },
            FamilyFirstPage() {
                this.family_current_page_num = 1;
            },
            FamilyLastPage() {
                this.family_current_page_num = this.family_total_page;
            },
            GetFamily(val, item) {
                console.log("GetFamily")
                console.log(item)
                this.selectNow.order = item;
                axios({
                    method: 'get',
                    url: "http://192.168.3.211:8080/public/selectAllBiologyFamilyByOrderUuidPagination?currentPage=" + val
                        + "&pageSize=" + this.family_page_size + "&orderUuid=" + item.uuid,
                }).then(resp => {
                    var result = resp.data.data;
                    let res_data_json = JSON.parse(result);
                    if (res_data_json == null) {
                        alert("无数据")
                    }
                    if (resp.data.code == "400") {
                        alert(result.msg);
                    } else {
                        this.family_list = res_data_json.biologyFamilyList;

                        this.family_current_page_num = res_data_json.currentPageNum;
                        this.family_page_size = res_data_json.pageSize;
                        this.family_total_count = res_data_json.totalCount;
                        this.family_total_page = res_data_json.totalPage;

                        this.family_limiteArray = this.limitItem1(this.family_total_page, this.family_current_page_num, 5);
                        this.selectView("family");
                    }
                })
            },

            SpeciesNextPageination() {
                this.species_current_page_num++;
            },
            SpeciesPrePageination() {
                this.species_current_page_num--;
            },
            SpeciesChangePageination(item) {
                this.species_current_page_num = item;
            },
            SpeciesFirstPage() {
                this.species_current_page_num = 1;
            },
            SpeciesLastPage() {
                this.species_current_page_num = this.species_total_page;
            },
            GetSpecies(val, item) {
                console.log("Getspecies")
                console.log(item)
                this.selectNow.family = item;
                axios({
                    method: 'get',
                    url: "http://192.168.3.211:8080/public/selectAllBiologySpeciesByFamilyUuidPagination?currentPage=" + val
                        + "&pageSize=" + this.species_page_size + "&familyUuid=" + item.uuid,
                }).then(resp => {
                    var result = resp.data.data;
                    let res_data_json = JSON.parse(result);
                    if (res_data_json == null) {
                        alert("无数据")
                    }
                    if (resp.data.code == "400") {
                        alert(result.msg);
                    } else {
                        this.species_list = res_data_json.biologySpeciesList;

                        this.species_current_page_num = res_data_json.currentPageNum;
                        this.species_page_size = res_data_json.pageSize;
                        this.species_total_count = res_data_json.totalCount;
                        this.species_total_page = res_data_json.totalPage;

                        this.species_limiteArray = this.limitItem1(this.species_total_page, this.species_current_page_num, 5);
                        this.selectView("species");
                    }
                })
            },


            getObject(val, item) {
                this.selectNow.species = item;
                axios({
                    method: 'get',
                    url: "http://192.168.3.211:8080/minio/SelectAllImgInfoFromCategoryPagination?currentPage=" + val +
                        "&pageSize=" + this.object_page_size + "&speciesUuid=" + item.uuid,
                    headers: { "authorization": localStorage.getItem("token") },
                }).then(resp => {
                    console.log(resp)
                    console.log(resp.data.data)
                    var result = resp.data.data;
                    let res_data_json = resp.data.data;

                    console.log(res_data_json)
                    if (result.code == 404) {
                        alert(result.msg);
                    } else {
                        this.object_list = res_data_json.minioObjectList;

                        this.object_current_page_num = res_data_json.currentPageNum;
                        this.object_page_size = res_data_json.pageSize;
                        this.object_total_count = res_data_json.totalCount;
                        this.object_total_page = res_data_json.totalPage;

                        this.object_limiteArray = this.limitItem1(this.object_total_page, this.object_current_page_num, 5);
                        this.selectView("object");
                    }
                })
            },
            ObjectNextPageination() {
                this.object_current_page_num++;
            },
            ObjectPrePageination() {
                this.object_current_page_num--;
            },
            ObjectChangePageination(item) {
                this.object_current_page_num = item;
            },
            ObjectFirstPage() {
                this.object_current_page_num = 1;
            },
            ObjectLastPage() {
                this.object_current_page_num = this.object_total_page;
            },

            // PreviewImg: function (bucketName, categoryNum) {
            //     if (categoryNum <= 0) {
            //         alert("该种类还没有数据，快快上传吧！")
            //         return;
            //     }
            //     window.location.href = "/view.html?bucketName=" + bucketName;
            // },
            // BaleDownloadImg: function (bucketName, imgNum) {
            //     console.log("vue function BaleDownloadImg " + bucketName);
            //     if (imgNum <= 0) {
            //         alert("种类还没有图片，快快上传吧！")
            //         return;
            //     }
            //     alert("服务器正在打包，请耐心等待！");
            //     axios({
            //         method: 'get',
            //         url: 'http://localhost:8080/service/downloadALlObject?bucketName=' + bucketName,
            //         headers: { "authorization": localStorage.getItem("accessToken") },
            //         responseType: 'blob'
            //     }).then(resp => {
            //         console.log(resp);
            //         let data = resp.data;
            //         if (!data) {
            //             return
            //         }
            //         resp.headers["Content-Disposition"] = "attachment; filename=" + bucketName + ".zip";

            //         let url = window.URL.createObjectURL(new Blob([data], { type: 'application/x-zip-compressed' }))
            //         console.log(url)
            //         let a = document.createElement('a')
            //         a.style.display = 'none'
            //         a.href = url

            //         a.setAttribute("download", bucketName + ".zip");

            //         document.body.appendChild(a)
            //         a.click() //执行下载
            //         window.URL.revokeObjectURL(a.href) //释放url
            //         document.body.removeChild(a) //释放标签
            //     }).catch(function (error) {
            //         if (error.response) {
            //             // 请求成功发出且服务器也响应了状态码，但状态代码超出了 2xx 的范围
            //             console.log(error.response.data);
            //             console.log(error.response.status);
            //             console.log(error.response.headers);
            //             alert("服务器错误！");
            //             location.reload();
            //         } else if (error.request) {
            //             // 请求已经成功发起，但没有收到响应
            //             // `error.request` 在浏览器中是 XMLHttpRequest 的实例，
            //             // 而在node.js中是 http.ClientRequest 的实例
            //             console.log(error.request);
            //         } else {
            //             // 发送请求时出了点问题
            //             console.log('Error', error.message);
            //         }
            //         console.log(error.config);
            //     })
            // },
            // 只显示一个页面，选择一个页面时，其他页面不显示
            selectView: function (select) {
                if (select == "class") {
                    this.classShow = true;
                    this.orderShow = false;
                    this.familyShow = false;
                    this.speciesShow = false;
                    this.objectShow = false;
                } else if (select == "order") {
                    this.classShow = false;
                    this.orderShow = true;
                    this.familyShow = false;
                    this.speciesShow = false;
                    this.objectShow = false;
                } else if (select == "family") {
                    this.classShow = false;
                    this.orderShow = false;
                    this.familyShow = true;
                    this.speciesShow = false;
                    this.objectShow = false;
                } else if (select == "species") {
                    this.classShow = false;
                    this.orderShow = false;
                    this.familyShow = false;
                    this.speciesShow = true;
                    this.objectShow = false;
                } else if (select == "object") {
                    this.classShow = false;
                    this.orderShow = false;
                    this.familyShow = false;
                    this.speciesShow = false;
                    this.objectShow = true;
                } else {
                    alert.log("出错了!")
                }

            },
            limitItem1(total_page, current_page_num, limiteSize) {
                console.log("limitItem1")
                let limiteArray = new Array;
                half_limiteArray = Math.ceil(limiteSize / 2)
                if (total_page < limiteSize) {
                    return total_page;
                }
                if (total_page > current_page_num + half_limiteArray && current_page_num - half_limiteArray > 1) {
                    console.log("fuhe")
                    for (let i = 0; i < limiteSize; i++) {
                        limiteArray[i] = current_page_num - half_limiteArray + i + 1;
                    }
                    console.log(limiteArray);
                } else if (total_page <= current_page_num + half_limiteArray) {
                    console.log("total_page <= current_page_num + half_limiteArray")
                    for (let i = 0; i < limiteSize; i++) {
                        limiteArray[i] = total_page - limiteSize + i + 1;
                    }
                    console.log(limiteArray)
                } else if (current_page_num - half_limiteArray <= 1) {
                    console.log("current_page_num - half_limiteArray <= 1")
                    for (let i = 0; i < limiteSize; i++) {
                        limiteArray[i] = i + 1;
                    }
                    console.log(limiteArray)
                }
                return limiteArray;

            },
        },
        filters: {
            formatTimer: function (value) {
                let date = new Date(value);
                let y = date.getFullYear();
                let MM = date.getMonth() + 1;
                MM = MM < 10 ? "0" + MM : MM;
                let d = date.getDate();
                d = d < 10 ? "0" + d : d;
                let h = date.getHours();
                h = h < 10 ? "0" + h : h;
                let m = date.getMinutes();
                m = m < 10 ? "0" + m : m;
                let s = date.getSeconds();
                s = s < 10 ? "0" + s : s;
                return y + "-" + MM + "-" + d;
            }

        },
        created() {
            // 页面加载时执行的方法
            this.GetClass(this.class_current_page_num);
        }
    })
</script>

</html>